{% extends "base.html" %}
{% block title %}Katalog{% endblock title %}
{% block bigBanner%}{%endblock bigBanner%}
{% block specifika %}
    <div class="row d-flex justify-content-center mt-5 pt-5">
       <div class="col-sm-6  col-lg-4 p-5">
           <div class="card-column">
            <!-- Card -->
            <div class="card mb-5 wow fadeIn">

              <!-- Card image -->
               <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img class="card-img-top" src="https://scontent-frx5-1.xx.fbcdn.net/v/t31.0-8/20121306_997184133751831_1114848224739155079_o.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=kpIbbYl7b6gAX_gyeQ0&_nc_ht=scontent-frx5-1.xx&oh=87617328ff11ef19b66f564dc0cdb4fa&oe=5EFC2C07" alt="Card image cap">
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Katalog uhančkov Voleska</p>
                    </div>
                </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Uhani</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <!-- Button -->
                <a href="/uhani" class="btn btn-primary slabo">Poglej si uhane!</a>

              </div>

            </div>
            <!-- Card -->
            <div class="card wow fadeIn">

              <!-- Card image -->
              <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img class="card-img-top" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/32468693_1166610936809149_2884679642935984128_o.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_ohc=J_DRDd8luX8AX_juziT&_nc_ht=scontent-frt3-1.xx&oh=25b95228d57b453e760e181fe2f186e1&oe=5EFB0746" alt="Card image cap">
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Katalog obeskov Voleska</p>
                    </div>
                </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Obeski</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <!-- Button -->
                <a href="/obeski" class="btn btn-primary slabo">Poglej si obeske!</a>

              </div>

            </div>
           </div>

         </div>
        <div class="col-sm-6 col-lg-4 p-5">
            <div class="card-column ">
                 <!-- Card -->
            <div class="card mb-5 wow fadeIn">

              <!-- Card image -->
               <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img class="card-img-top" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/49575845_1367713613365546_1138956585947627520_o.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_ohc=NDzRYc1xtc0AX_BmIGh&_nc_ht=scontent-frt3-1.xx&oh=2d2d478b76bb3a6dd64b8b2b372121bf&oe=5EFD6C55" alt="Card image cap">
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Katalog ogrlic Voleska</p>
                    </div>
                </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Ogrlice</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <!-- Button -->
                <a href="/ogrlice" class="btn btn-primary slabo">Poglej si ogrlice!</a>

              </div>

            </div>

            <div class="card mt-5 wow fadeIn">

              <!-- Card image -->
                <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img class="card-img-top" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/39504548_1260710807399161_7573716364506955776_n.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_ohc=9C0ixsWHDFwAX9tvgBn&_nc_ht=scontent-frt3-1.xx&oh=ba7e56099ed3b24aea7a2b5430da37f4&oe=5EFB8E83" alt="Card image cap">
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Katalog zapestnic Voleska</p>
                    </div>
                </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Zapestnice</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <!-- Button -->
                <a href="/zapestnice" class="btn btn-primary slabo">Poglej zapestnice!</a>

              </div>

            </div>
            </div>

         </div>
        <div class="col-sm-12 col-lg-4  p-5">
           <div class="card-column">
              <!-- Card -->
            <div class="card wow fadeIn">

              <!-- Card image -->
                <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img class="card-img-top" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/68687326_1535788639891375_3085888621551550464_o.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=Mw5Mm1Cx6nIAX8c7gNa&_nc_ht=scontent-frt3-1.xx&oh=3631b22c3b62a16f4e09b1d62c9ab693&oe=5EFCB19A" alt="Card image cap">
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Katalog priponk Voleska</p>
                    </div>
                </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Priponke</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <!-- Button -->
                <a href="/priponke" class="btn btn-primary slabo">Poglej si priponke!</a>

              </div>

            </div>
            <!-- Card -->
            <div class="card mt-5 wow fadeIn">

              <!-- Card image -->
                <!--Zoom effect-->
                <div class="view overlay zoom">
                    <img class="card-img-top" src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/14359208_815052831964963_8703721021619523320_n.jpg?_nc_cat=104&_nc_sid=9267fe&_nc_ohc=qLowW1zLD88AX9VSojg&_nc_ht=scontent-frt3-1.xx&oh=39280a30e5e2e6f2275c418ed9568a2f&oe=5EFA825B" alt="Card image cap">
                    <div class="mask flex-center rgba-black-strong">
                        <p class="white-text">Katalog prstanov Voleska</p>
                    </div>
                </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Prstani</a></h4>
                <!-- Text -->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <!-- Button -->
                <a href="/prstani" class="btn btn-primary slabo">Poglej si prstane!</a>

              </div>

            </div>
           </div>

         </div>


    </div>



{% endblock specifika%}